__pycache__

.vscode

.coverage
coverage.xml
htmlcov

.env
email.html
client_secret.json
token.json

images/service_specific/*
!images/service_specific/.gitkeep
images/youtube_generated_thumbnails/*
!images/youtube_generated_thumbnails/.gitkeep
